
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<section class="page-header page-header-classic">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Contact us</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col p-static">
                <h1 data-title-border>Contact us</h1>

            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row py-4">
        <div class="col-lg-6">
            @Html.Partial("Partials/_contactUs")

        </div>
        <div class="col-lg-6">

            <div>
                <h4 class="pt-5">Our Contact</h4>
                <ul class="list list-icons list-icons-style-2 mt-2">
                    <li><i class="fas fa-phone"></i> <strong>Phone:</strong> +44 749 6283 163</li>
                    <li><i class="fas fa-phone"></i> <strong>Phone:</strong> +44 759 6347 621</li>
                    <li><i class="far fa-envelope"></i> <strong>Email:</strong> <a href="mailto:info@steamsmiths.co.uk">info@steamsmiths.co.uk</a></li>
                </ul>
            </div>

            <div>
                <h4 class="pt-5">Business Hours</h4>
                <ul class="list list-icons list-dark mt-2">
                    <li><i class="far fa-clock"></i> Monday - Friday - 7am to 7pm</li>
                    <li><i class="far fa-clock"></i> Saturday - By request</li>
                    <li><i class="far fa-clock"></i> Sunday - By request</li>
                </ul>
            </div>

            <h4 class="pt-5">Get in Touch</h4>
            <p class="lead mb-0 text-4">Get in touch for free visit and quotation. We offer you a tailor-made cleaning service for your requirements.</p>

        </div>

    </div>

</div>